<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Git Community Book</title>
	<meta http-equiv="content-language" content="en">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="assets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="assets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="assets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="assets/javascripts/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="assets/javascripts/jquery.corner.js"></script>
</head>

<body>
<div class="container showgrids">

  <div class="span-21 header">
    <a href="/"><img alt="Git Community Book" src="assets/images/header-book.gif"></a>
  </div>

  <div class="span-21 navbar">
    <div id="toc">
      <ul class="a-documentation">
      	<li id="m-index"><a href="http://git-scm.com/">Home</a></li>
      	<li id="m-about"><a href="http://git-scm.com/about">About Git</a></li>
      	<li id="m-documentation"><a href="http://git-scm.com/documentation">Documentation</a></li>
      	<li id="m-download"><a href="http://git-scm.com/download">Download</a></li>
      	<li id="m-tools"><a href="http://git-scm.com/tools">Related Tools</a></li>
      	<li id="m-wiki"><a href="http://git.or.cz/gitwiki">Wiki</a></li>
      </ul>
    </div>
  </div>
  
  <div class="span-21">
    <br/>
  </div>
  
  <div class="span-10">
    <div id="book-intro">
      <h3>The Git Community Book</h3>
      <p>
        Welcome to the Git Community Book.
        This book has been built by dozens of people in the Git community, and
        is meant to help you learn how to use Git as quickly and easily as possible.
      </p>
      <p>
        If you see anything out of date, have a suggestion on how to improve it,
        or would like to help add to the book,
        please see the <a href="http://github.com/schacon/gitbook/wikis/how-to-contribute">How to Contribute</a> page, or just send
        <a href="mailto:schacon@gmail.com">our maintainer</a> a note.
    </div>
  </div>

  
  <div class="span-5">
	  <div id="download">
			<h3>Download</h3>			
			<div class="inner">
				Click <a href="https://github.s3.amazonaws.com/media/book.pdf">here</a> to download the current PDF version of this book.
    		<hr/>
			  <a href="https://github.s3.amazonaws.com/media/book.pdf"><img height="50" border="0" src="assets/images/pdf.png"/></a>
			</div>
    </div>
  </div>

  <div class="span-6 last">
    <div id="new-to-git">
      <h3>New to Git?</h3>
      <div class="inner">
        <p>If you want to really understand Git, 
          You may want to start at <a href='1_welcome_to_git.html'>the beginning</a>.</p>
        <p>
          If you just want to jump right in, you can skip right to <a href='2_setup_and_initialization.html'>setting it up</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="span-21">
    #body
  </div>
  
  <div class="span-17 footer">
  	<div class="menu">
  		This book is maintained by Scott Chacon, and hosting is donated by GitHub.
  		<br>
  		Please email me at <a href="mailto:schacon@gmail.com">schacon@gmail.com</a>
  		with patches, suggestions and comments.
	  </div>
  </div>
  <div class="span-4 last center">
    <a href="http://github.com"><img src="assets/images/github.png" alt="github logo"></a>
  </div>
  
</div>

<script type="text/javascript">
  $(function() {
    $('#book-intro').corner();
    $('#new-to-git').corner();
    $('#download').corner();
    $('.footer').corner();
  });
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-82337-12");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
