<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Git Book - #title</title>
	<meta http-equiv="content-language" content="en">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="icon" href="favicon.png" type="image/png">
	<link rel="stylesheet" href="assets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="assets/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="assets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="assets/stylesheets/mac_classic.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen, projection">
</head>

<body>
<div class="container chapter showgrids">

  <div class="span-21 header">
    <div class="nav">#nav</div>
    <div class="title"><a href='index.html'>Git Community Book</a></div>
  </div>
  
  <div class="span-21">
    <br/>
  </div>
  
  <div class="span-21">
    #body
  </div>
  
  <div class="span-21">
    <hr/>
    <div class="center">#nav</div>
    <hr/>
  </div>
  
  <div class="span-17 footer">
  	<div class="menu">
  		This book is maintained by Scott Chacon, and hosting is donated by GitHub.
  		<br>
  		Please email me at <a href="mailto:schacon@gmail.com">schacon@gmail.com</a>
  		with patches, suggestions and comments.
	  </div>
  </div>
  <div class="span-4 last center">
    <a href="http://github.com"><img src="assets/images/github.png" alt="github logo"></a>
  </div>
  
</div>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-82337-12");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<script src="http://static.getclicky.com/40584.js" type="text/javascript"></script>
<noscript><p><img alt="Clicky" src="http://in.getclicky.com/40584-db6.gif" /></p></noscript>

</body>
</html>
