<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../layout/second.css"/>
	<link rel="stylesheet" type="text/css" href="../layout/mac_classic.css"/>
</head>
<body>
	<div class="frontcover"></div>

	<div class="titlepage">
	<h1 class="no-toc">Git Community Book</h1>
	<h2 class="no-toc"></h2>
	<p class="no-toc">The open Git resource pulled together by the whole community</p>
	</div>
	
	<div class="imprint">
	  <h2>Authors</h2>
	  Thank these guys:
		<p>
      Alecs King (alecsk@gmail.com),
      Amos Waterland (apw@rossby.metr.ou.edu),
      Andrew Ruder (andy@aeruder.net),
      Andy Parkins (andyparkins@gmail.com),
      Arjen Laarhoven (arjen@yaph.org),
      Brian Hetro (whee@smaertness.net),
      Carl Worth (cworth@cworth.org),
      Christian Meder (chris@absolutegiganten.org),
      Dan McGee (dpmcgee@gmail.com),
      David Kastrup (dak@gnu.org),
      Dmitry V. Levin (ldv@altlinux.org),
      Francis Daly (francis@daoine.org),
      Gerrit Pape (pape@smarden.org),
      Greg Louis (glouis@dynamicro.ca),
      Gustaf Hendeby (hendeby@isy.liu.se),
      Horst H. von Brand (vonbrand@inf.utfsm.cl),
      J. Bruce Fields (bfields@fieldses.org),
      Jakub Narebski (jnareb@gmail.com),
      Jim Meyering (jim@meyering.net),
      Johan Herland (johan@herland.net),
      Johannes Schindelin (Johannes.Schindelin@gmx.de),
      Jon Loeliger (jdl@freescale.org),
      Josh Triplett (josh@freedesktop.org),
      Junio C Hamano (gitster@pobox.com),
      Linus Torvalds (torvalds@osdl.org),
      Lukas Sandström (lukass@etek.chalmers.se),
      Marcus Fritzsch (m@fritschy.de),
      Michael Coleman (tutufan@gmail.com),
      Michael Smith (msmith@cbnco.com),
      Mike Coleman (tutufan@gmail.com),
      Miklos Vajna (vmiklos@frugalware.org),
      Nicolas Pitre (nico@cam.org),
      Oliver Steele (steele@osteele.com),
      Paolo Ciarrocchi (paolo.ciarrocchi@gmail.com),
      Pavel Roskin (proski@gnu.org),
      Ralf Wildenhues (Ralf.Wildenhues@gmx.de),
      Robin Rosenberg (robin.rosenberg.lists@dewire.com),
      Santi Béjar (sbejar@gmail.com),
      Scott Chacon (schacon@gmail.com),
      Sergei Organov (osv@javad.com),
      Shawn Bohrer (shawn.bohrer@gmail.com),
      Shawn O. Pearce (spearce@spearce.org),
      Steffen Prohaska (prohaska@zib.de),
      Tom Prince (tom.prince@ualberta.net),
      William Pursell (bill.pursell@gmail.com),
      Yasushi SHOJI (yashi@atmark-techno.com)
    </p>
    
    <h2>Maintainer / Editor</h2>
	  Bug this guy:
	  <p>
	    Scott Chacon (schacon@gmail.com)
	  </p>
	</div>
	
	<div class="chapter">
		#body
	</div>

	<div class="white_page"></div>
	<div class="white_page"></div>
	
	<div class="backcover"></div>
</body>
</html>
