<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../layout/second.css"/>
	<link rel="stylesheet" type="text/css" href="../layout/mac_classic.css"/>
</head>
<body>
	<div class="frontcover"></div>

	<div class="halftitlepage">
		<h1 class="no-toc">Git Community Book</h1>
		<h2 class="no-toc">What's New</h2>
	</div>

	<div class="titlepage">
	<h1 class="no-toc">Git Community Book</h1>
	<h2 class="no-toc">What's New</h2>

	<p class="no-toc">Scott Chacon</p>
	<!-- also, the publisher's name would typically be printed here -->
	</div>
	
	<div class="imprint">
		<p>Scott Chacon<br/>Website: www.jointheconversation.org</p>
	</div>
	
	<div class="chapter">
		#body
	</div>

	<div class="white_page"></div>
	<div class="white_page"></div>
	
	<div class="backcover"></div>
</body>
</html>
