<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../layout/second.css"/>
	<link rel="stylesheet" type="text/css" href="../layout/mac_classic.css"/>
</head>
<body>
	<div class="frontcover"></div>

	<div class="titlepage">
	<h1 class="no-toc">Git Community Book</h1>
	<h2 class="no-toc"></h2>
	<p class="no-toc">The open Git resource pulled together by the whole community</p>
	</div>
	
	<div class="imprint">
	  <h2>Authors</h2>
	  Thank these guys:
		<p>
		Andy Parkins (andyparkins@gmail.com),
    Arjen Laarhoven (arjen@yaph.org),
    Brian Hetro (whee@smaertness.net),
    Carl Worth (cworth@cworth.org),
    Dan McGee (dpmcgee@gmail.com),
    David Kastrup (dak@gnu.org),
    Gerrit Pape (pape@smarden.org),
    Gustaf Hendeby (hendeby@isy.liu.se),
    J. Bruce Fields (bfields@fieldses.org),
    Jakub Narebski (jnareb@gmail.com),
    Jim Meyering (jim@meyering.net),
    Johan Herland (johan@herland.net),
    Johannes Schindelin (Johannes.Schindelin@gmx.de),
    Josh Triplett (josh@freedesktop.org),
    Junio C Hamano (gitster@pobox.com),
    Marcus Fritzsch (m@fritschy.de),
    Michael Coleman (tutufan@gmail.com),
    Michael Smith (msmith@cbnco.com),
    Mike Coleman (tutufan@gmail.com),
    Miklos Vajna (vmiklos@frugalware.org),
    Oliver Steele (steele@osteele.com),
    Pavel Roskin (proski@gnu.org),
    Ralf  Wildenhues (Ralf.Wildenhues@gmx.de),
    Scott Chacon (schacon@gmail.com),
    Sergei Organov (osv@javad.com),
    Shawn Bohrer (shawn.bohrer@gmail.com),
    Steffen Prohaska (prohaska@zib.de),
    William Pursell (bill.pursell@gmail.com)
    </p>
    
    <h2>Maintainer / Editor</h2>
	  Bug this guy:
	  <p>
	    Scott Chacon (schacon@gmail.com)
	  </p>
	</div>
	
	<div class="chapter">
		#body
	</div>

	<div class="white_page"></div>
	<div class="white_page"></div>
	
	<div class="backcover"></div>
</body>
</html>
